body, html {
  border: none;
  margin: 0;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.fb-slider {
  width: 100%;
  overflow: hidden;
  cursor: -webkit-grab;

  .fb-slider-content {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }

  .fb-item {
    float: left;

    img {
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }
}